.weather-widget {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: var(--shadow);
  background: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap: 5px;
}
.weather-widget .day-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: var(--bgColor);
}
.weather-widget .day-box.today {
  grid-column: 1/-1;
  gap: 30px;
}
.weather-widget .day-box h4 {
  font-weight: 400;
  color: #444;
  font-size: 25px;
}
.weather-widget .day-box.today h4 {
  font-size: 33px;
}
.weather-widget .day-box i {
  color: var(--color);
  font-size: 60px;
}
.weather-widget .day-box.today i {
  font-size: 120px;
}
.weather-widget .day-box .weather-row {
  flex-direction: column;
  gap: 10px;
}
.weather-widget .day-box.today .weather-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.weather-widget .day-box .text-info big {
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.weather-widget .day-box.today .text-info big {
  font-size: 70px;
  font-weight: 500;
}
.weather-widget .day-box big sup {
  font-size: 13px;
  top: -5px;
}
.weather-widget .day-box.today big sup {
  font-size: 23px;
  top: -15px;
}
.weather-widget .day-box.today .text-info h5 {
  font-size: 27px;
  color: #555;
  font-weight: 400;
}
.weather-widget .day-box .text-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.weather-widget .day-box.today .text-info {
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  margin-top: 0;
}
